/*COMMON*/

@font-face {
    src: url("Gugi-Regular.ttf");
}

* {
    -fx-font-family: "Gugi";
}

.root {
    -fx-text-default: #A39FB3;
    -fx-text-default-button: #938FA3;
    -fx-brown-black: #2F2320;
    -fx-brown-lighter: rgba(49,37,34,0.5);
    -fx-city-blue: #302F34;
    -fx-city-blue-button: #353438;
}

.only-narrow {
    -fx-opacity: 0;
}

.root:narrow .only-narrow {
    -fx-opacity: 1;
}

.root:narrow .only-wide {
    -fx-opacity: 0;
}

.avatar-box {
    -fx-border-color: -fx-city-blue;
    -fx-border-width: 3;
    -fx-border-radius: 60;
    -fx-background-radius: 60;
}

.modal {
    -fx-background-color: rgba(48, 47, 52, 0.5);
    -fx-background-radius: 12;
    -fx-border-color: -fx-city-blue;
    -fx-border-radius: 12;
    -fx-border-width: 4;
}

.usual-button {
    -fx-background-color: -fx-text-default;
}

.usual-button:hover {
    -fx-background-color: -fx-text-default-button;
}

.modal-button {
    -fx-background-color: transparent;
    -fx-background-radius: 6;
}

.modal-button:hover {
    -fx-background-color: rgba(48, 47, 52, 0.5);
}

.modal-button FontIcon {
    -fx-icon-color: -fx-text-default;
    -fx-icon-size: 24px;
}

.warning * {
    -fx-text-fill: -fx-text-default;
    -fx-font-size: 24px;
}

.warning Button {
    -fx-background-color: -fx-city-blue;
    -fx-background-radius: 6;
    -fx-padding: 5 40 5 40;
}

.warning Button:hover {
    -fx-background-color: -fx-city-blue-button;
}

.form-button:hover {
    -fx-padding: 5 40 5 40;

    -fx-background-radius: 6;
    -fx-font-size: 24px;
}

/*TOP BAR*/

.top-bar-button:hover {
    -fx-background-color:  #3F3F3F !important;
}

.top-bar-button {
    -fx-background-radius: 5;
    -fx-background-color: #242424;
}

.top-bar {
    -fx-background-color: #242424;
    -fx-background-radius: 10;
}

/*LOCATIONS SCROLL PANE*/

/* 1. Магічне комбо для повної прозорості */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent; /* Це критично важливо для ScrollPane */
    -fx-border-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* 2. Стилізуємо скролбар */
.scroll-pane .scroll-bar:horizontal, .scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .thumb, .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-city-blue;
    -fx-background-radius: 6;
}