/*COMMON*/

@font-face {
    src: url("Gugi-Regular.ttf");
}

* {
    -fx-font-family: "Gugi";
}

.root {
    -fx-text-default: #A39FB3;
    -fx-text-default-button: #938FA3;
    -fx-brown-black: #2F2320;
    -fx-city-blue: #302F34;
    -fx-city-blue-button: #353438;
}

.only-narrow {
    -fx-opacity: 0;
}

.root:narrow .only-narrow {
    -fx-opacity: 1;
}

.root:narrow .only-wide {
    -fx-opacity: 0;
}

.avatar-box {
    -fx-border-color: -fx-city-blue;
    -fx-border-width: 3;
    -fx-border-radius: 60;
    -fx-background-radius: 60;
}

.modal {
    -fx-background-color: rgba(48, 47, 52, 0.5);
    -fx-background-radius: 12;
    -fx-border-color: -fx-city-blue;
    -fx-border-radius: 12;
    -fx-border-width: 4;
}

.usual-button {
    -fx-background-color: -fx-text-default;
}

.usual-button:hover {
    -fx-background-color: -fx-text-default-button;
}

.modal-button {
    -fx-background-color: transparent;
    -fx-background-radius: 6;
}

.modal-button:hover {
    -fx-background-color: rgba(48, 47, 52, 0.5);
}

.modal-button FontIcon {
    -fx-icon-color: -fx-text-default;
    -fx-icon-size: 24px;
}

.warning * {
    -fx-text-fill: -fx-text-default;
    -fx-font-size: 24px;
}

.warning Button {
    -fx-background-color: -fx-city-blue;
    -fx-background-radius: 6;
    -fx-padding: 5 40 5 40;
}

.warning Button:hover {
    -fx-background-color: -fx-city-blue-button;
}

.form-button:hover {
    -fx-padding: 5 40 5 40;

    -fx-background-radius: 6;
    -fx-font-size: 24px;
}