/*FORM BUTTONS*/

.form-button {
    -fx-background-color: -fx-city-blue;
    -fx-background-radius: 6;
    -fx-text-fill: -fx-text-default;
    -fx-padding: 5 40 5 40;
    -fx-font-size: 24px;
}

.form-button:hover {
    -fx-padding: 5 40 5 40;
    -fx-background-color: -fx-city-blue-button;
    -fx-background-radius: 6;
    -fx-font-size: 24px;
}

.form-alt-button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-radius: 6;
    -fx-border-color: -fx-city-blue;
    -fx-border-radius: 6;
    -fx-border-width: 4;
    -fx-text-fill: -fx-text-default;
    -fx-padding: 5 20 5 20;
    -fx-font-size: 20px;
}

.form-alt-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

/*FORM FIELDS*/

.field-box {
    -fx-background-color: -fx-text-default;
    -fx-background-radius: 12;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 10;
}

.field-box FontIcon {
    -fx-icon-color: -fx-brown-black;
}

.field-box Button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-radius: 12;
    -fx-border-color: -fx-brown-black;
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-text-fill: -fx-brown-black;
    -fx-font-size: 16px;
    -fx-padding: 5 10 5 10;
}

.field-box Button:hover {
    -fx-background-color: -fx-text-default-button;
}

.text-field .content {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-border-color: -fx-brown-black;
    -fx-border-radius: 12;
    -fx-border-width: 2;

    /* Текст всередині */
    -fx-text-fill: -fx-brown-black;
    -fx-font-size: 16px;
    -fx-padding: 10 15 10 15;

    /* Колір курсора */
    -fx-highlight-fill: -fx-accent; /* Колір виділення тексту */
    -fx-caret-fill: -fx-accent;    /* Колір палички, що мигає */
}

/* Коли ми натиснули на поле (Focus) */
.text-field:focused {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 12;
    -fx-border-color: #000000;
    -fx-border-radius: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.text-field .text {
    -fx-fill: -fx-brown-black;
}

.text-field .prompt-text {
    -fx-text-fill: -fx-brown-black;
    -fx-font-style: italic;
}

.form-alert-label {
    -fx-background-color: rgba(100, 0, 0, 0.1);
    -fx-background-radius: 6;

    /* Текст всередині */
    -fx-text-fill: -fx-text-default;
    -fx-font-size: 16px;
    -fx-padding: 10 15 10 15;
}