.location-actual-card {
    -fx-background-color: rgba(48, 47, 52, 0.25);
    -fx-background-radius: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 30, 0, 12, 36);
    -fx-padding: 10 15 10 15;
}

.location-actual-card * {
    -fx-text-fill: -fx-text-default;
    -fx-font-size: 24px;
    -fx-icon-color: -fx-text-default;
    -fx-icon-size: 24px;
}

.location-actual-card Button {
    -fx-background-color: -fx-city-blue;
    -fx-background-radius: 12;
    -fx-padding: 16;
}

.location-actual-card Button:hover {
    -fx-background-color: -fx-city-blue-button;
}

.location-actual-card Button * {
    -fx-icon-size: 36px;
}

.location-holder-card {
    -fx-background-color: rgba(32, 31, 34, 0.5);
    -fx-background-radius: 12;
}