/*WINDOW & CENTRAL BOX*/

.central-box {
    -fx-background-radius: 24;
    -fx-background-image: url("/views/assets/img/central_box_back.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 30, 0, 12, 36);
}

/*TOP LABEL*/

#top-label-box Label {
    -fx-text-fill: -fx-text-default;
}

.root:narrow #top-label-box {
    -fx-font-size: 60px;
}

#top-label-box Rectangle {
    -fx-fill: -fx-text-default;
    -fx-fill-radius: 6;
}

/*CLOCK BOX*/

#clock-box {
    -fx-border-color: -fx-city-blue;
    -fx-border-radius: 6;
    -fx-border-width: 4;
}

#clock-box Label {
    -fx-text-fill: -fx-text-default;
}

/*METAINFO*/

#metainfo-box Label {
    -fx-text-fill: -fx-text-default;
    -fx-font-size: 20px;
}

#metainfo-box FontIcon {
    -fx-icon-color: -fx-text-default;
}

#metainfo-box FontIcon:hover {
    -fx-icon-color: #8c8899;
}

/*REGISTRATION*/

.register-return-button {
    -fx-background-color: -fx-city-blue;
    -fx-background-radius: 12;
}

.register-return-button:hover {
    -fx-background-color: -fx-city-blue-button;
}

.register-return-button > FontIcon {
    -fx-icon-color: -fx-text-default;
}