.top-bar-button:hover {
    -fx-background-color:  #3F3F3F !important;
}

.top-bar-button {
    -fx-background-radius: 5;
    -fx-background-color: #242424;
}

.top-bar {
    -fx-background-color: #242424;
    -fx-background-radius: 10;
}

.main-container {
    -fx-background-color: #2b2b2b; /* Твій колір фону (або з AtlantaFX) */
    -fx-background-radius: 10;    /* Заокруглення фону */
}